<html>
<head>
  <title>J3RN's Minecraft Server</title>
  <meta name="author" content="Jonathan Arnett (J3RN)" />
  <meta name="description" content="The stats of the players on my Minecraft server" />
</head>
<body>
  <%= yield %>
</body>
